# Ignore virtual environments
venv/
env/

# Ignore database files
db.sqlite3

# Ignore IDE or editor files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore local settings
settings_local.py
